/* My Modification for Knight Template */
body {
    font-size: 16px;
}
ul.main-nav li.small-logo a {
    width: 120px;
}

.logo {
    width: 200px;
}

#tests .tabs-wrapper .tab-content {
    padding: 1em;
}

.tabs-wrapper h4 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 13px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    margin: 2em 0 0.5em;
}

h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media all and (min-width: 960px) {
    #header {
        padding: 200px 0;
    }
}

@media only screen and (max-width: 767px) {
    .main-section {
        padding: 20px 0 60px;
    }
}
