.login-form {
    max-width: 300px;
    margin: 8% auto;
    padding: 20px;
    background: rgb(229, 229, 250);
    border-radius: 5px;
}

.chat-list-area {
    background: rgb(200, 200, 200);
}

.chat-text-area {
    background: rgb(244, 244, 244);
}

.chat-line {
    margin-bottom: 10px;
    background-color: #dff3ff;
    padding: 5px;
    border-radius: 5px;
}

.chat-input button {
    margin-top: 10px;
}